*{margin:0; padding:0; -webkit-tap-highlight-color: transparent;}
img{display: block;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.header{ height:400px; background:url(../images/loginbg.jpg) right top no-repeat #666699; }
.header .main{ width:1000px; margin:0 auto 154px; height:440px; background:#fff;text-align:center; border:#ddd solid 1px; border-radius:2px;}
.header .registerbox{ height:553px ;}
.header .top{ position:relative;width:1000px; margin:0 auto; color:#fff; text-align:left; }
.header .top img{ text-align:left !important; padding:20px 0 10px; cursor:pointer;}
.header .top p{ line-height:1; text-align:left; padding-bottom:17px; font-size:16px; }
.header .top .tbtn{ position:absolute; top:22px; right:0; height:78px;font-size:18px; cursor:pointer; }
.header .top .tbtn a{ display:inline-block; width:100px; height:30px; line-height:30px; color:#fff; text-align:center; text-decoration:none; border:#fff solid 1px; background:rgba(255,255,255,0.2);}
.header .top .tbtn .username{ cursor:auto;}
/*弹窗*/
.tcbox{width:500px; position:fixed; top:150px; left:50%; margin-left:-250px; font-size:16px; text-align:center; border-radius:5px; border:#ddd solid 1px; background:#fff; }
.tcbox h4{ height:50px; line-height:50px; text-align:center; font-size:24px; color:#fff; background:#666699;}
.tcbox p{ padding:20px; }
.tcbox .iknow{ width:100px; height:30px; line-height:30px; margin:20px auto;padding:0; color:#fff; background:#666699; border-radius:10px; cursor:pointer;}
/*底部*/
.bottom{ position:relative; bottom:0; left:0; width:100%; height:100px; background:#f3f2f2; font-size:14px; color:#666;}
.bottom .left{position:absolute;bottom:0; left:50%; margin-left:-500px; height:84px; padding:0 7px; line-height:24px;}
.bottom .right{ position:absolute;bottom:0; left:50%; margin-left:290px;height:100px; line-height:100px; white-space:nowrap;}
.bor{ border:#666699 solid 1px !important;}
.pheader{ display:none; height:44px; line-height:44px;text-align:right; background:#ddd; /*background:url(../images/logo.png) 10px center no-repeat #dddddd; background-size:74px 23px;*/  padding:0 10px; box-sizing:border-box; }
.pheader a{color:#333; text-decoration:none;}
.pheader span{ font-size:12px; color:#333;}
.hidden{ display:none;}
input[type="file"]{filter:alpha(opacity=0); -moz-opacity:0;  opacity:0; }
@media (max-width:767px){
	/*手机样式*/
.pheader{ display:block !important;}
.phone{ display:block !important;}
.logo{ margin-top:10px; float:left;width:74px;}

}
 