@charset "utf-8";
/* CSS Document */
.myzone{ height:550px !important; margin-bottom:46px !important;}
.myzone .menu{ width:200px;height:552px; background:#3e3e5d; display:inline-block; float:left; margin:-1px; }
.myzone .menu p{ cursor:pointer; height:59px; line-height:59px; font-size:18px; color:#fff; }
.myzone .menu p.cheon{  background:url(../images/menuicon.png) right center no-repeat #373753; }
.myzone .menu p span{ background:#3e3e5d; display:inline-block;height:59px; line-height:59px; margin:0 20px;border-bottom:#4e4e6a solid 1px;}
.myzone .menu p.cheon span{ background:#373753;border-bottom:0;}
.myzone .workspace{ width:790px;height:530px; float:right;  margin:20px 0 0 10px; position:relative;}
.prolist,.loadlist{ width:100%;}
.prolist th,.prolist td,.loadlist td{ text-align:left; color:#8989a5; height:50px; line-height:50px; font-size:12px;}
.prolist th{font-size:14px; color:#666699 ;}
.prolist tr:nth-of-type(odd),.loadlist tr:nth-of-type(odd){ background:#f8f6fe;}
#download{ display:none;}
.edit,.look{cursor:pointer;}
.page{ position:absolute; bottom:24px; left:0; width:100%; text-align:center; color:#aaa; }
.page img{ display:inline-block; vertical-align: -4px;cursor:pointer;}
.page span{ cursor:pointer;}
.loadlist span{ width:60px; height:26px; display:inline-block; text-align:center; border-radius:4px; line-height:26px; border:#666699 solid 1px; color:#666699; margin-right:134px; float:right; cursor:pointer;}

.phone .prolist{ padding:14px 5px;}
.phone .prolist td,.phone .prolist th{ padding-left:4px; font-size:10px;}
.phone .prolist th{ font-size:12px;}
.bottombtn p{ width:100%; position:fixed; bottom:0; left:0; border-top:#666795 solid 1px; font-size:15px;}
.bottombtn p span{ height:50px; line-height:50px; display:inline-block; width:50%; text-align:center;}
.bottombtn p .applypro{ background:#666795; color:#fff;}
.bottombtn p .download1{ color:#666795;}

@media (max-width:767px){
	/*手机样式*/
.pcbox{ display:none;}
.prolist th{ width:25%;}
.prolist th:first-child{ width:50%;}
}